<div *ngIf="chart"
  [ngClass]="{'dashboard-diagram-container': isDashboard, 'secure-score-diagram-container': isDevicePage}">
  <canvas [ngClass]="{'dashboard-nut': isDashboard, 'secure-score-nut': isDevicePage}" baseChart height="100"
    width="100" [data]="chart.data" [labels]="chart.labels" [chartType]="chart.type" [options]="chart.options"
    [legend]="chart.legend" [colors]="chart.colors">
  </canvas>
  <div class="info">
    <div class="top">
      <div>
        <span>Non-Compliant Devices</span>
      </div>
      <div>
        <span>Managed Devices</span>
      </div>
    </div>
    <div class="bottom">{{ doughnutData.nonCompliant }} / {{ doughnutData.compliant }}</div>
  </div>
</div>